In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats
#importing libraries

In [2]:
data = pd.read_csv("/Users/tarashabazaz/Downloads/2018_sqf_database-abbr.csv")
#import stop and frisk dataset from the NYPD (2018)

In [3]:
data 
#let's preview the dataset

,STOP_FRISK_ID,Stop Frisk Time,YEAR2,MONTH2,DAY2,STOP_WAS_INITIATED,ISSUING_OFFICER_RANK,ISSUING_OFFICER_COMMAND_CODE,SUPERVISING_OFFICER_RANK,SUPERVISING_OFFICER_COMMAND_CODE,...,SUSPECT_SEX,SUSPECT_RACE_DESCRIPTION,SUSPECT_HEIGHT,SUSPECT_WEIGHT,SUSPECT_BODY_BUILD_TYPE,SUSPECT_EYE_COLOR,SUSPECT_HAIR_COLOR,STOP_LOCATION_PRECINCT,STOP_LOCATION_FULL_ADDRESS,STOP_LOCATION_BORO_NAME
0,1,19:04:00,2018,January,Monday,Based on C/W on Scene,POM,1,SGT,1,...,MALE,WHITE,5.10,170.0,MED,BRO,BLK,1,VARICK STREET && FRANKLIN STREET,MANHATTAN
1,2,23:00:00,2018,January,Monday,Based on Radio Run,POM,34,SGT,34,...,MALE,BLACK HISPANIC,6.10,250.0,HEA,BRO,BLK,34,DYCKMAN STREET && POST AVENUE,MANHATTAN
2,3,23:55:00,2018,January,Monday,Based on Radio Run,POM,808,SGT,808,...,MALE,WHITE HISPANIC,5.50,150.0,THN,BRO,BLD,43,2245 RANDALL AVENUE,BRONX
3,4,3:23:00,2018,January,Monday,Based on Radio Run,POM,63,SGT,63,...,MALE,AMERICAN INDIAN/ALASKAN NATIVE,5.10,160.0,MED,BRO,BLK,63,EAST 38 STREET && AVENUE L,BROOKLYN
4,5,3:23:00,2018,January,Monday,Based on Radio Run,POM,63,SGT,63,...,MALE,WHITE,5.11,230.0,MED,BRO,BLK,63,EAST 38 STREET && AVENUE L,BROOKLYN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11003,11004,12:43:00,2018,December,Monday,Based on Radio Run,POM,121,SGT,121,...,MALE,BLACK,5.11,170.0,THN,BRO,BLD,121,2321 FOREST AVENUE,STATEN ISLAND
11004,11005,23:20:00,2018,December,Monday,Based on Radio Run,POM,32,LT,32,...,MALE,BLACK HISPANIC,5.10,170.0,THN,BRO,BLK,32,WEST 145 STREET && 7 AVENUE,MANHATTAN
11005,11006,23:20:00,2018,December,Monday,Based on Radio Run,POM,32,LT,32,...,MALE,BLACK HISPANIC,5.40,140.0,THN,BRO,BLK,32,WEST 145 STREET && 7 AVENUE,MANHATTAN
11006,11007,23:20:00,2018,December,Monday,Based on Radio Run,POM,32,LT,32,...,MALE,BLACK HISPANIC,5.40,130.0,THN,BRO,BLK,32,WEST 145 STREET && 7 AVENUE,MANHATTAN
11007,11008,22:43:00,2018,December,Monday,Based on Radio Run,POM,803,SGT,803,...,MALE,BLACK,5.10,145.0,THN,BRO,BLK,79,505 GATES AVENUE,BROOKLYN

In [4]:
df = data.dropna(subset=['SUSPECT_RACE_DESCRIPTION'])
#dropping any stops that have missing info in the race column

In [5]:
df
#looking at the dataset again, we see we didn't lose any stops and still have 11008 rows

,STOP_FRISK_ID,Stop Frisk Time,YEAR2,MONTH2,DAY2,STOP_WAS_INITIATED,ISSUING_OFFICER_RANK,ISSUING_OFFICER_COMMAND_CODE,SUPERVISING_OFFICER_RANK,SUPERVISING_OFFICER_COMMAND_CODE,...,SUSPECT_SEX,SUSPECT_RACE_DESCRIPTION,SUSPECT_HEIGHT,SUSPECT_WEIGHT,SUSPECT_BODY_BUILD_TYPE,SUSPECT_EYE_COLOR,SUSPECT_HAIR_COLOR,STOP_LOCATION_PRECINCT,STOP_LOCATION_FULL_ADDRESS,STOP_LOCATION_BORO_NAME
0,1,19:04:00,2018,January,Monday,Based on C/W on Scene,POM,1,SGT,1,...,MALE,WHITE,5.10,170.0,MED,BRO,BLK,1,VARICK STREET && FRANKLIN STREET,MANHATTAN
1,2,23:00:00,2018,January,Monday,Based on Radio Run,POM,34,SGT,34,...,MALE,BLACK HISPANIC,6.10,250.0,HEA,BRO,BLK,34,DYCKMAN STREET && POST AVENUE,MANHATTAN
2,3,23:55:00,2018,January,Monday,Based on Radio Run,POM,808,SGT,808,...,MALE,WHITE HISPANIC,5.50,150.0,THN,BRO,BLD,43,2245 RANDALL AVENUE,BRONX
3,4,3:23:00,2018,January,Monday,Based on Radio Run,POM,63,SGT,63,...,MALE,AMERICAN INDIAN/ALASKAN NATIVE,5.10,160.0,MED,BRO,BLK,63,EAST 38 STREET && AVENUE L,BROOKLYN
4,5,3:23:00,2018,January,Monday,Based on Radio Run,POM,63,SGT,63,...,MALE,WHITE,5.11,230.0,MED,BRO,BLK,63,EAST 38 STREET && AVENUE L,BROOKLYN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11003,11004,12:43:00,2018,December,Monday,Based on Radio Run,POM,121,SGT,121,...,MALE,BLACK,5.11,170.0,THN,BRO,BLD,121,2321 FOREST AVENUE,STATEN ISLAND
11004,11005,23:20:00,2018,December,Monday,Based on Radio Run,POM,32,LT,32,...,MALE,BLACK HISPANIC,5.10,170.0,THN,BRO,BLK,32,WEST 145 STREET && 7 AVENUE,MANHATTAN
11005,11006,23:20:00,2018,December,Monday,Based on Radio Run,POM,32,LT,32,...,MALE,BLACK HISPANIC,5.40,140.0,THN,BRO,BLK,32,WEST 145 STREET && 7 AVENUE,MANHATTAN
11006,11007,23:20:00,2018,December,Monday,Based on Radio Run,POM,32,LT,32,...,MALE,BLACK HISPANIC,5.40,130.0,THN,BRO,BLK,32,WEST 145 STREET && 7 AVENUE,MANHATTAN
11007,11008,22:43:00,2018,December,Monday,Based on Radio Run,POM,803,SGT,803,...,MALE,BLACK,5.10,145.0,THN,BRO,BLK,79,505 GATES AVENUE,BROOKLYN

In [6]:
df['SUSPECT_RACE_DESCRIPTION'].value_counts()
#see the amount of each race

BLACK                             6241
WHITE HISPANIC                    2411
WHITE                             1074
BLACK HISPANIC                     978
ASIAN / PACIFIC ISLANDER           221
0                                   67
AMERICAN INDIAN/ALASKAN NATIVE      16
Name: SUSPECT_RACE_DESCRIPTION, dtype: int64

In [7]:
df.drop(df[df['SUSPECT_RACE_DESCRIPTION'] == '0'].index, inplace = True)
#because the stops where the race is unknown listed race as "0",not as NaN, I want to drop those with "0"

In [8]:
df['SUSPECT_RACE_DESCRIPTION'].value_counts()
#now we see we've removed the data points with unknown race

BLACK                             6241
WHITE HISPANIC                    2411
WHITE                             1074
BLACK HISPANIC                     978
ASIAN / PACIFIC ISLANDER           221
AMERICAN INDIAN/ALASKAN NATIVE      16
Name: SUSPECT_RACE_DESCRIPTION, dtype: int64

In [9]:
len(df['SUSPECT_RACE_DESCRIPTION'])
#let's see how many stops we are left with

10941

In [10]:
#now I will conduct a one sample z test for the proportion of Black individuals. 
# The null value is 0.243, which is the proportion of Black individuals in the NYC population 
# taken from 2019 census information 
import numpy as np
from statsmodels.stats.proportion import proportions_ztest
count = 6241
nobs = 10941
value = 0.243

stat, pval = proportions_ztest(count, nobs, value, alternative='larger', prop_var=False)
print("Test statistic:", stat)
print("p-value:", pval)

Test statistic: 69.18611229721871
p-value: 0.0

In [11]:
#now I will conduct a one sample z test for the proportion of Hispanic individuals. 
# The null value is 0.291, which is the proportion of Hispanic individuals in the NYC population 
# taken from 2019 census information 
import numpy as np
from statsmodels.stats.proportion import proportions_ztest
count = 3389
nobs = 10941
value = 0.291

stat, pval = proportions_ztest(count, nobs, value, alternative='larger', prop_var=False)
print("Test statistic:", stat)
print("p-value:", pval)

Test statistic: 4.242027461265633
p-value: 1.1075478992431215e-05

In [12]:
#1 sample z test for proportion of white stops 
#null value is from census data, 0.321 of NYC population
import numpy as np
from statsmodels.stats.proportion import proportions_ztest
count = 1074
nobs = 10941
value = 0.321

stat, pval = proportions_ztest(count, nobs, value, alternative='smaller', prop_var=False)
print("Test statistic:", stat)
print("p-value:", pval)

Test statistic: -78.33906280652373
p-value: 0.0

In [13]:
#moving onto the next analysis, we want to look at time stopped vs. race 
timestopped = df[['SUSPECT_RACE_DESCRIPTION', 'STOP_DURATION_MINUTES']]
timestopped

             SUSPECT_RACE_DESCRIPTION  STOP_DURATION_MINUTES
0                               WHITE                     18
1                      BLACK HISPANIC                     15
2                      WHITE HISPANIC                     10
3      AMERICAN INDIAN/ALASKAN NATIVE                     15
4                               WHITE                     15
...                               ...                    ...
11003                           BLACK                      8
11004                  BLACK HISPANIC                     25
11005                  BLACK HISPANIC                     25
11006                  BLACK HISPANIC                     25
11007                           BLACK                      8

[10941 rows x 2 columns]

In [14]:
#making sure to drop NaNs just in case in these two columns 
timestopped = timestopped.dropna()
timestopped

             SUSPECT_RACE_DESCRIPTION  STOP_DURATION_MINUTES
0                               WHITE                     18
1                      BLACK HISPANIC                     15
2                      WHITE HISPANIC                     10
3      AMERICAN INDIAN/ALASKAN NATIVE                     15
4                               WHITE                     15
...                               ...                    ...
11003                           BLACK                      8
11004                  BLACK HISPANIC                     25
11005                  BLACK HISPANIC                     25
11006                  BLACK HISPANIC                     25
11007                           BLACK                      8

[10941 rows x 2 columns]

In [15]:
#creating conditions separated by race 
blacktime = timestopped['SUSPECT_RACE_DESCRIPTION'] == 'BLACK'
whispanictime = timestopped['SUSPECT_RACE_DESCRIPTION'] == 'WHITE HISPANIC'
bhispanictime = timestopped['SUSPECT_RACE_DESCRIPTION'] == 'BLACK HISPANIC'
whitetime = timestopped['SUSPECT_RACE_DESCRIPTION'] == 'WHITE'

In [16]:
#creating separate dataframes based on the conditions 
bt_df = timestopped[blacktime]
bht_df = timestopped[bhispanictime] 
wht_df = timestopped[whispanictime]
wt_df = timestopped[whitetime]

In [17]:
#now let's do a t test comparing the mean difference in time stopped: Black - White
from scipy import stats

t_val, p_val = stats.ttest_ind(bt_df['STOP_DURATION_MINUTES'], wt_df['STOP_DURATION_MINUTES'], equal_var=False)

print("Test statistic:", t_val)
print("p-value:", p_val)

Test statistic: -3.2140698882237486
p-value: 0.0013325650137362857

In [18]:
# t test for White Hispanic - White
from scipy import stats

t_val, p_val = stats.ttest_ind(wht_df['STOP_DURATION_MINUTES'], wt_df['STOP_DURATION_MINUTES'], equal_var=False)

print("Test statistic:", t_val)
print("p-value:", p_val)

Test statistic: -2.0510083465526314
p-value: 0.040367821610671054

In [19]:
# t test for Black Hispanic - White 
from scipy import stats

t_val, p_val = stats.ttest_ind(bht_df['STOP_DURATION_MINUTES'], wt_df['STOP_DURATION_MINUTES'], equal_var=False)

print("Test statistic:", t_val)
print("p-value:", p_val)

Test statistic: -1.9943949124298603
p-value: 0.046248076157389864

In [20]:
#next, let's conduct a chi squared test testing the association between frisking and race 
# new subset of data with only the frisk and race columns, drop NaNs
chi = df[['FRISKED_FLAG', 'SUSPECT_RACE_DESCRIPTION']]
chi.dropna()

       FRISKED_FLAG        SUSPECT_RACE_DESCRIPTION
0                 1                           WHITE
1                 1                  BLACK HISPANIC
2                 1                  WHITE HISPANIC
3                 1  AMERICAN INDIAN/ALASKAN NATIVE
4                 1                           WHITE
...             ...                             ...
11003             1                           BLACK
11004             0                  BLACK HISPANIC
11005             0                  BLACK HISPANIC
11006             0                  BLACK HISPANIC
11007             1                           BLACK

[10941 rows x 2 columns]

In [21]:
#let's make a two way table of this data
table = pd.crosstab(index=chi["SUSPECT_RACE_DESCRIPTION"], columns=chi["FRISKED_FLAG"]) 
table

FRISKED_FLAG                       0     1
SUSPECT_RACE_DESCRIPTION
AMERICAN INDIAN/ALASKAN NATIVE     6    10
ASIAN / PACIFIC ISLANDER         106   115
BLACK                           2355  3886
BLACK HISPANIC                   399   579
WHITE                            607   467
WHITE HISPANIC                   986  1425

In [22]:
#making sure what the total count of data points is 
import numpy as np
total = 0
for race in table.columns:
    total += np.sum(table[race])
print(total)

10941

In [23]:
#conduct a chi square test testing for association between frisking and race 
#the p value<0.01, so we reject the null in favor of the alternative that there IS an association between frisk and race
from scipy import stats

chi2, p, dof, expected = stats.chi2_contingency(table)

print("chi2:", chi2)
print("p:", p)
print("dof:", dof)
print("expected:", expected)

chi2: 138.9495945788524
p: 2.991755491836872e-28
dof: 5
expected: [[   6.52079335    9.47920665]
 [  90.06845809  130.93154191]
 [2543.51695457 3697.48304543]
 [ 398.58349328  579.41650672]
 [ 437.70825336  636.29174664]
 [ 982.60204734 1428.39795266]]

In [24]:
#now want to make the table a bit more clear and rename the columns
table.columns = ['no frisk', 'frisk']
table

                                no frisk  frisk
SUSPECT_RACE_DESCRIPTION
AMERICAN INDIAN/ALASKAN NATIVE         6     10
ASIAN / PACIFIC ISLANDER             106    115
BLACK                               2355   3886
BLACK HISPANIC                       399    579
WHITE                                607    467
WHITE HISPANIC                       986   1425

In [25]:
# add a new column for the totals of each race
table['Total'] = table['frisk'] + table['no frisk']
table

                                no frisk  frisk  Total
SUSPECT_RACE_DESCRIPTION
AMERICAN INDIAN/ALASKAN NATIVE         6     10     16
ASIAN / PACIFIC ISLANDER             106    115    221
BLACK                               2355   3886   6241
BLACK HISPANIC                       399    579    978
WHITE                                607    467   1074
WHITE HISPANIC                       986   1425   2411

In [26]:
#now let's make a grouped bar chart, first by adding columns for the proportions of frisked and not frisked per race
table['nofrisk_per'] = table['no frisk'] / table['Total']
table['frisk_per'] = table['frisk'] / table['Total']
table

                                no frisk  frisk  Total  nofrisk_per  frisk_per
SUSPECT_RACE_DESCRIPTION
AMERICAN INDIAN/ALASKAN NATIVE         6     10     16     0.375000   0.625000
ASIAN / PACIFIC ISLANDER             106    115    221     0.479638   0.520362
BLACK                               2355   3886   6241     0.377343   0.622657
BLACK HISPANIC                       399    579    978     0.407975   0.592025
WHITE                                607    467   1074     0.565177   0.434823
WHITE HISPANIC                       986   1425   2411     0.408959   0.591041

In [27]:
#let's move on to the regression analysis. i'll pull two columns from the original dataset 
# to see if there is any association between stop duration time and age of suspect.
# I removed NaNs and 0s from the age column
reg = df[['SUSPECT_REPORTED_AGE', 'STOP_DURATION_MINUTES']]
reg.dropna()
reg.drop(reg[reg['SUSPECT_REPORTED_AGE'] == 0].index, inplace = True)

/Users/tarashabazaz/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [28]:
#now calculate the correlation coefficient and p value 
from scipy import stats
corr = stats.pearsonr(reg['SUSPECT_REPORTED_AGE'], reg['STOP_DURATION_MINUTES'])
print('Correlation coefficient:', corr[0])
print('p-value:', corr[1])

Correlation coefficient: -0.012880551597796067
p-value: 0.19390715423199453

In [29]:
#now see the full regression model (linear regression)
from statsmodels.regression.linear_model import OLS
import statsmodels.api as sm

x_vals = reg['SUSPECT_REPORTED_AGE'].values
y_vals = reg['STOP_DURATION_MINUTES']

reg_model = OLS(y_vals, sm.add_constant(x_vals)).fit()
display(reg_model.summary())

<class 'statsmodels.iolib.summary.Summary'>
"""
                              OLS Regression Results
=================================================================================
Dep. Variable:     STOP_DURATION_MINUTES   R-squared:                       0.000
Model:                               OLS   Adj. R-squared:                  0.000
Method:                    Least Squares   F-statistic:                     1.688
Date:                   Tue, 22 Dec 2020   Prob (F-statistic):              0.194
Time:                           17:07:50   Log-Likelihood:                -44626.
No. Observations:                  10174   AIC:                         8.926e+04
Df Residuals:                      10172   BIC:                         8.927e+04
Df Model:                              1
Covariance Type:               nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         12.3418      0.499     24.715      0.000      11.363      13.321
x1            -0.0204      0.016     -1.299      0.194      -0.051       0.010
==============================================================================
Omnibus:                    22070.121   Durbin-Watson:                   1.726
Prob(Omnibus):                  0.000   Jarque-Bera (JB):        238079515.228
Skew:                          19.138   Prob(JB):                         0.00
Kurtosis:                     751.434   Cond. No.                         82.6
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [30]:
#time = 12.3418 -0.0204(age) 
#getting the regression coefficients
b0 = reg_model.params[0]
b1 = reg_model.params[1]
x_plot = np.linspace(np.min(reg['SUSPECT_REPORTED_AGE']),
                     np.max(reg['SUSPECT_REPORTED_AGE']), 100)

In [31]:
#another chi square test assessing the association between race and arrest. we retrieve the 2 columns for race and arrest
# and drop nans again. (already dropped race=0 in original df)
chi2 = df[['SUSPECT_RACE_DESCRIPTION', 'SUSPECT_ARRESTED_FLAG']]
chi2.dropna()

             SUSPECT_RACE_DESCRIPTION  SUSPECT_ARRESTED_FLAG
0                               WHITE                      0
1                      BLACK HISPANIC                      0
2                      WHITE HISPANIC                      0
3      AMERICAN INDIAN/ALASKAN NATIVE                      1
4                               WHITE                      1
...                               ...                    ...
11003                           BLACK                      1
11004                  BLACK HISPANIC                      0
11005                  BLACK HISPANIC                      0
11006                  BLACK HISPANIC                      0
11007                           BLACK                      0

[10941 rows x 2 columns]

In [32]:
#making a two way table 
table2 = pd.crosstab(index=chi2["SUSPECT_ARRESTED_FLAG"], columns=chi2["SUSPECT_RACE_DESCRIPTION"]) 
table2

SUSPECT_RACE_DESCRIPTION,AMERICAN INDIAN/ALASKAN NATIVE,ASIAN / PACIFIC ISLANDER,BLACK,BLACK HISPANIC,WHITE,WHITE HISPANIC
SUSPECT_ARRESTED_FLAG,,,,,,
0,12,170,4532,726,771,1628
1,4,51,1709,252,303,783

In [33]:
#renaming the rows to be more clear
table2.index = ['no arrest', 'arrest']
table2

SUSPECT_RACE_DESCRIPTION,AMERICAN INDIAN/ALASKAN NATIVE,ASIAN / PACIFIC ISLANDER,BLACK,BLACK HISPANIC,WHITE,WHITE HISPANIC
no arrest,12,170,4532,726,771,1628
arrest,4,51,1709,252,303,783

In [34]:
#conducting a chi square test to see if there is an association between race and arrest
from scipy import stats

chi2, p, dof, expected = stats.chi2_contingency(table2)

print("chi2:", chi2)
print("p:", p)
print("dof:", dof)
print("expected:", expected)

chi2: 29.413128879076964
p: 1.9237684708943802e-05
dof: 5
expected: [[  11.46366877  158.34192487 4471.54729915  700.7167535   769.49876611
  1727.43158761]
 [   4.53633123   62.65807513 1769.45270085  277.2832465   304.50123389
   683.56841239]]

In [35]:
#adding new total row
table2.loc['Total'] = table2.loc['no arrest'] + table2.loc['arrest']
table2

SUSPECT_RACE_DESCRIPTION,AMERICAN INDIAN/ALASKAN NATIVE,ASIAN / PACIFIC ISLANDER,BLACK,BLACK HISPANIC,WHITE,WHITE HISPANIC
no arrest,12,170,4532,726,771,1628
arrest,4,51,1709,252,303,783
Total,16,221,6241,978,1074,2411

In [36]:
#adding row for proportion arrested of stops
table2.loc['arrest_per'] = table2.loc['arrest'] / table2.loc['Total']
table2

SUSPECT_RACE_DESCRIPTION,AMERICAN INDIAN/ALASKAN NATIVE,ASIAN / PACIFIC ISLANDER,BLACK,BLACK HISPANIC,WHITE,WHITE HISPANIC
no arrest,12.00,170.000000,4532.000000,726.000000,771.000000,1628.000000
arrest,4.00,51.000000,1709.000000,252.000000,303.000000,783.000000
Total,16.00,221.000000,6241.000000,978.000000,1074.000000,2411.000000
arrest_per,0.25,0.230769,0.273834,0.257669,0.282123,0.324762

In [37]:
#now retrieving data for physical restraint and race for a new chi test
force = df[['SUSPECT_RACE_DESCRIPTION', 'PHYSICAL_FORCE_RESTRAINT_USED_FLAG']]
force.dropna()
force

             SUSPECT_RACE_DESCRIPTION  PHYSICAL_FORCE_RESTRAINT_USED_FLAG
0                               WHITE                                   0
1                      BLACK HISPANIC                                   0
2                      WHITE HISPANIC                                   0
3      AMERICAN INDIAN/ALASKAN NATIVE                                   1
4                               WHITE                                   1
...                               ...                                 ...
11003                           BLACK                                   0
11004                  BLACK HISPANIC                                   0
11005                  BLACK HISPANIC                                   0
11006                  BLACK HISPANIC                                   0
11007                           BLACK                                   0

[10941 rows x 2 columns]

In [38]:
#making a new two way table of physical restraint and race
table5 = pd.crosstab(columns=force["SUSPECT_RACE_DESCRIPTION"], index=force["PHYSICAL_FORCE_RESTRAINT_USED_FLAG"])
table5

SUSPECT_RACE_DESCRIPTION,AMERICAN INDIAN/ALASKAN NATIVE,ASIAN / PACIFIC ISLANDER,BLACK,BLACK HISPANIC,WHITE,WHITE HISPANIC
PHYSICAL_FORCE_RESTRAINT_USED_FLAG,,,,,,
0,15,220,6052,959,1051,2365
1,1,1,189,19,23,46

In [39]:
#renaming the rows 
table5.index = ['no restraint', 'restraint']
table5

SUSPECT_RACE_DESCRIPTION,AMERICAN INDIAN/ALASKAN NATIVE,ASIAN / PACIFIC ISLANDER,BLACK,BLACK HISPANIC,WHITE,WHITE HISPANIC
no restraint,15,220,6052,959,1051,2365
restraint,1,1,189,19,23,46

In [40]:
#chi test for association of physical restraint and race
from scipy import stats

chi2, p, dof, expected = stats.chi2_contingency(table5)

print("chi2:", chi2)
print("p:", p)
print("dof:", dof)
print("expected:", expected)

chi2: 16.71331076686312
p: 0.005076861619544582
dof: 5
expected: [[1.55919934e+01 2.15364409e+02 6.08185193e+03 9.53060598e+02
  1.04661256e+03 2.34951851e+03]
 [4.08006581e-01 5.63559090e+00 1.59148067e+02 2.49394022e+01
  2.73874417e+01 6.14814916e+01]]

In [41]:
#adding new rows for total and for proportion restrained 
table5.loc['Total'] = table5.loc['no restraint'] + table5.loc['restraint']
table5.loc['restraint_per'] = table5.loc['restraint'] / table5.loc['Total'] 
table5

SUSPECT_RACE_DESCRIPTION,AMERICAN INDIAN/ALASKAN NATIVE,ASIAN / PACIFIC ISLANDER,BLACK,BLACK HISPANIC,WHITE,WHITE HISPANIC
no restraint,15.0000,220.000000,6052.000000,959.000000,1051.000000,2365.000000
restraint,1.0000,1.000000,189.000000,19.000000,23.000000,46.000000
Total,16.0000,221.000000,6241.000000,978.000000,1074.000000,2411.000000
restraint_per,0.0625,0.004525,0.030284,0.019427,0.021415,0.019079

In [42]:

crime = df[['SUSPECTED_CRIME_DESCRIPTION', 'SUSPECT_RACE_DESCRIPTION']]
crime.dropna()

      SUSPECTED_CRIME_DESCRIPTION        SUSPECT_RACE_DESCRIPTION
0                        MENACING                           WHITE
1                             CPW                  BLACK HISPANIC
2                   GRAND LARCENY                  WHITE HISPANIC
3                         ROBBERY  AMERICAN INDIAN/ALASKAN NATIVE
4                         ROBBERY                           WHITE
...                           ...                             ...
11003                     ROBBERY                           BLACK
11004               PETIT LARCENY                  BLACK HISPANIC
11005               PETIT LARCENY                  BLACK HISPANIC
11006               PETIT LARCENY                  BLACK HISPANIC
11007                         CPW                           BLACK

[10941 rows x 2 columns]

In [43]:
crime['SUSPECTED_CRIME_DESCRIPTION'].value_counts()
#CPW = criminal possession of a weapon
#CPSP = criminal possession of stolen property

CPW                                            2940
ROBBERY                                        1597
ASSAULT                                        1479
PETIT LARCENY                                  1006
BURGLARY                                        839
OTHER                                           520
CRIMINAL TRESPASS                               480
GRAND LARCENY                                   440
GRAND LARCENY AUTO                              347
CRIMINAL POSSESSION OF MARIHUANA                251
MENACING                                        221
CRIMINAL MISCHIEF                               191
CRIMINAL POSSESSION OF CONTROLLED SUBSTANCE      83
CRIMINAL SALE OF CONTROLLED SUBSTANCE            82
UNAUTHORIZED USE OF A VEHICLE                    82
RECKLESS ENDANGERMENT                            58
CPSP                                             56
AUTO STRIPPIG                                    48
MAKING GRAFFITI                                  42
FORCIBLE TOUCHING                                35
THEFT OF SERVICES                                34
CRIMINAL SALE OF MARIHUANA                       25
MURDER                                           22
RAPE                                             20
CRIMINAL POSSESSION OF FORGED INSTRUMENT         20
PROSTITUTION                                     15
TERRORISM                                         8
Name: SUSPECTED_CRIME_DESCRIPTION, dtype: int64

In [44]:
ctable = pd.crosstab(columns=crime['SUSPECTED_CRIME_DESCRIPTION'], index=crime['SUSPECT_RACE_DESCRIPTION'])
ctable

SUSPECTED_CRIME_DESCRIPTION,ASSAULT,AUTO STRIPPIG,BURGLARY,CPSP,CPW,CRIMINAL MISCHIEF,CRIMINAL POSSESSION OF CONTROLLED SUBSTANCE,CRIMINAL POSSESSION OF FORGED INSTRUMENT,CRIMINAL POSSESSION OF MARIHUANA,CRIMINAL SALE OF CONTROLLED SUBSTANCE,...,MURDER,OTHER,PETIT LARCENY,PROSTITUTION,RAPE,RECKLESS ENDANGERMENT,ROBBERY,TERRORISM,THEFT OF SERVICES,UNAUTHORIZED USE OF A VEHICLE
SUSPECT_RACE_DESCRIPTION,,,,,,,,,,,,,,,,,,,,,
AMERICAN INDIAN/ALASKAN NATIVE,0,0,1,0,2,3,0,0,0,0,...,0,2,1,0,0,0,1,0,0,0
ASIAN / PACIFIC ISLANDER,37,0,34,1,37,4,2,4,3,1,...,0,9,16,1,4,0,25,1,1,0
BLACK,829,23,361,25,1926,91,36,12,132,38,...,14,266,580,5,7,42,947,0,19,31
BLACK HISPANIC,160,4,74,3,233,18,4,0,30,5,...,1,57,69,0,4,4,135,0,2,5
WHITE,113,7,175,6,171,22,18,3,7,13,...,2,66,159,3,0,0,105,7,10,16
WHITE HISPANIC,340,14,194,21,571,53,23,1,79,25,...,5,120,181,6,5,12,384,0,2,30

In [45]:
#pie chart for crimes?
from scipy import stats

chi2, p, dof, expected = stats.chi2_contingency(ctable)

print("chi2:", chi2)
print("p:", p)
print("dof:", dof)
print("expected:", expected)

chi2: 804.028063729053
p: 1.1235953885455528e-97
dof: 130
expected: [[2.16287359e+00 7.01946806e-02 1.22694452e+00 8.18937940e-02
  4.29942418e+00 2.79316333e-01 1.21378302e-01 2.92477836e-02
  3.67059684e-01 1.19915913e-01 3.65597295e-02 7.01946806e-01
  5.11836212e-02 6.43451238e-01 5.07449045e-01 6.14203455e-02
  3.23188008e-01 3.21725619e-02 7.60442373e-01 1.47116351e+00
  2.19358377e-02 2.92477836e-02 8.48185723e-02 2.33543552e+00
  1.16991134e-02 4.97212321e-02 1.19915913e-01]
 [2.98746915e+01 9.69564025e-01 1.69471712e+01 1.13115803e+00
  5.93857965e+01 3.85805685e+00 1.67653779e+00 4.03985011e-01
  5.07001188e+00 1.65633854e+00 5.04981263e-01 9.69564025e+00
  7.06973768e-01 8.88767023e+00 7.00913993e+00 8.48368522e-01
  4.46403437e+00 4.44383512e-01 1.05036103e+01 2.03204460e+01
  3.02988758e-01 4.03985011e-01 1.17155653e+00 3.22582031e+01
  1.61594004e-01 6.86774518e-01 1.65633854e+00]
 [8.43655882e+02 2.73803126e+01 4.78585047e+02 3.19436980e+01
  1.67704415e+03 1.08950827e+02 4.73451238e+01 1.14084636e+01
  1.43176218e+02 4.67747007e+01 1.42605795e+01 2.73803126e+02
  1.99648113e+01 2.50986199e+02 1.97936843e+02 2.39577735e+01
  1.26063523e+02 1.25493099e+01 2.96620053e+02 5.73845718e+02
  8.55634768e+00 1.14084636e+01 3.30845444e+01 9.10965817e+02
  4.56338543e+00 1.93943881e+01 4.67747007e+01]
 [1.32205648e+02 4.29064985e+00 7.49969838e+01 5.00575816e+00
  2.62802303e+02 1.70732109e+01 7.41924870e+00 1.78777077e+00
  2.24365232e+01 7.32986016e+00 2.23471346e+00 4.29064985e+01
  3.12859885e+00 3.93309570e+01 3.10178229e+01 3.75431862e+00
  1.97548670e+01 1.96654785e+00 4.64820400e+01 8.99248698e+01
  1.34082808e+00 1.78777077e+00 5.18453523e+00 1.42753496e+02
  7.15108308e-01 3.03921031e+00 7.32986016e+00]
 [1.45182890e+02 4.71181793e+00 8.23586509e+01 5.49712092e+00
  2.88598848e+02 1.87491089e+01 8.14751851e+00 1.96325747e+00
  2.46388813e+01 8.04935563e+00 2.45407184e+00 4.71181793e+01
  3.43570058e+00 4.31916644e+01 3.40625171e+01 4.12284069e+00
  2.16939951e+01 2.15958322e+00 5.10446943e+01 9.87518508e+01
  1.47244310e+00 1.96325747e+00 5.69344667e+00 1.56766109e+02
  7.85302989e-01 3.33753770e+00 8.04935563e+00]
 [3.25918015e+02 1.05774609e+01 1.84885202e+02 1.23403711e+01
  6.47869482e+02 4.20894799e+01 1.82901929e+01 4.40727539e+00
  5.53113061e+01 1.80698291e+01 5.50909423e+00 1.05774609e+02
  7.71273193e+00 9.69600585e+01 7.64662279e+01 9.25527831e+00
  4.87003930e+01 4.84800292e+00 1.14589160e+02 2.21685952e+02
  3.30545654e+00 4.40727539e+00 1.27810986e+01 3.51920940e+02
  1.76291015e+00 7.49236816e+00 1.80698291e+01]]

In [46]:
ctable['Total'] = [16, 221, 6241, 978, 1074, 2411]
ctable['mj_per'] = ctable['CRIMINAL POSSESSION OF MARIHUANA'] / ctable['Total']
ctable['menacing_per'] = ctable['MENACING'] / ctable['Total']
ctable

SUSPECTED_CRIME_DESCRIPTION,ASSAULT,AUTO STRIPPIG,BURGLARY,CPSP,CPW,CRIMINAL MISCHIEF,CRIMINAL POSSESSION OF CONTROLLED SUBSTANCE,CRIMINAL POSSESSION OF FORGED INSTRUMENT,CRIMINAL POSSESSION OF MARIHUANA,CRIMINAL SALE OF CONTROLLED SUBSTANCE,...,PROSTITUTION,RAPE,RECKLESS ENDANGERMENT,ROBBERY,TERRORISM,THEFT OF SERVICES,UNAUTHORIZED USE OF A VEHICLE,Total,mj_per,menacing_per
SUSPECT_RACE_DESCRIPTION,,,,,,,,,,,,,,,,,,,,,
AMERICAN INDIAN/ALASKAN NATIVE,0,0,1,0,2,3,0,0,0,0,...,0,0,0,1,0,0,0,16,0.000000,0.000000
ASIAN / PACIFIC ISLANDER,37,0,34,1,37,4,2,4,3,1,...,1,4,0,25,1,1,0,221,0.013575,0.040724
BLACK,829,23,361,25,1926,91,36,12,132,38,...,5,7,42,947,0,19,31,6241,0.021150,0.020990
BLACK HISPANIC,160,4,74,3,233,18,4,0,30,5,...,0,4,4,135,0,2,5,978,0.030675,0.026585
WHITE,113,7,175,6,171,22,18,3,7,13,...,3,0,0,105,7,10,16,1074,0.006518,0.010242
WHITE HISPANIC,340,14,194,21,571,53,23,1,79,25,...,6,5,12,384,0,2,30,2411,0.032766,0.018250

In [47]:
data['STOP_LOCATION_BORO_NAME'].value_counts()

BROOKLYN         3632
MANHATTAN        2857
BRONX            2331
QUEENS           1848
STATEN ISLAND     340
Name: STOP_LOCATION_BORO_NAME, dtype: int64

In [48]:
boro = pd.read_csv('/Users/tarashabazaz/Downloads/borough2.csv')
boro

      Unnamed: 0   SAF  Population
0       Brooklyn  3632     2559903
1      Manhattan  2857     1628706
2          Bronx  2331     1418207
3         Queens  1848     2253858
4  Staten Island   340      476143

In [49]:
boro.columns= ['Borough', 'SAF', 'Population']
boro

         Borough   SAF  Population
0       Brooklyn  3632     2559903
1      Manhattan  2857     1628706
2          Bronx  2331     1418207
3         Queens  1848     2253858
4  Staten Island   340      476143

In [50]:
#1 sample z test for proportion of Bronx 
import numpy as np
from statsmodels.stats.proportion import proportions_ztest
count = 2331
nobs = 11008
value = 0.17

stat, pval = proportions_ztest(count, nobs, value, alternative='larger', prop_var=False)
print("Test statistic:", stat)
print("p-value:", pval)

Test statistic: 10.72299469022224
p-value: 3.9695209633212495e-27

In [51]:
#1 sample z test for proportion of Queens
import numpy as np
from statsmodels.stats.proportion import proportions_ztest
count = 1848
nobs = 11008
value = 0.27

stat, pval = proportions_ztest(count, nobs, value, alternative='smaller', prop_var=False)
print("Test statistic:", stat)
print("p-value:", pval)

Test statistic: -28.66709055358735
p-value: 4.908458504974008e-181